<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
  <add key="secureKey1" value="password1" />
  <add key="secureKey2" value="password2" />
  <add key="secureKey3" value="password13" />
 </appSettings>
  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=192.168.0.1;database=Brumpton.Encrypt;user id=foo;password='B0wcr0wdbar'" />
  </connectionStrings>
</configuration>